* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #071324;
  margin: 0; /* evita que el nav se desplace */
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* alto total menos el nav */
  padding-top: 60px; /* espacio para que no se monte sobre el nav */
}


.container {
  background-color: #fff;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: min(450px, 100%);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px 10px 0px;
}

.form-wrapper p {
  color: #666;
}

.form-wrapper h1 {
  color: #4455cc;
}

.form-wrapper svg {
  color: #4455cc;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding-left: 45px;   /* espacio para el candado */
  padding-right: 20px;  /* espacio para el botón */
  border: 1px solid #a3a3a3;
  border-radius: 8px;
}

.form-group .bi-lock {
  position: absolute;
  left: 18px;
  top: 61%;
  fill: gray;
  pointer-events: none;
}

.form-group button {
  position: absolute;
  right: 10px;
  top: 61%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.form-group button svg {
  fill: #4455cc;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect-link{
  font-size: 0.9rem;
  text-align: center;
  list-style: none;
  margin-bottom: 10px;
}

.redirect-link a {
  text-decoration: none;
  color: #4455cc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 10px 0;
}

form label {
  color: #000000;
  margin: 10px 0px 5px 0px;
  font-size: 12px;
  font-weight: bold;
}

form input,
form textarea,
form select {
  padding: 10px;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
  border-color: #4455cc;
  box-shadow: 0 0 5px rgba(37, 86, 247, 0.3);
}

.form-submit {
  display: flex;
  justify-content: center;
  margin: 15px 0px 5px 0px;
}

.form-submit button {
  padding: 10px;
  border: 3px solid #4455cc; 
  border-radius: 8px;
  color: #4455cc;
  cursor: pointer;
}

.form-submit button:hover {
  background-color: #4455cc;
  color: #fafafa;
}

/* ALERTAS */
.alert{
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  border-radius: 4px;
}

.alert p {
  text-align: center;
}

.alert.success{
  background-color: var(--alert-success-bg);
  color: white;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.alert.error{
  background-color: var(--alert-error-bg);
  color: #071324;
  background-color: white;
  box-shadow: 0 0 10px rgba(175, 76, 76, 0.5);
}


/* SIGN UP */
