.perfil-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.perfil-header {
  background: #fafafa;
  color: #4455cc;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

/* Boton seguir */
.perfil-header button {
  padding: 10px 20px;
  background-color: #4455cc;
  border: none;
  color: #fafafa;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.perfil-header button:hover {
  background-color: #0d1b2a;
}

.perfil-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stat-box {
  border: 3px solid #4455cc;
  color: #4455cc;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

/* .perfil-publicaciones {
  width: 90%;
} */

.form-coleccion {
  display: flex;
  align-items: center;
}

.form-coleccion input {
  margin: 0px 20px;
  width: 299px;
  height: 35px;
  padding: 5px;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  background: #fafafa;
  color: #333;
}

.form-coleccion button {
  padding: 9px 18px;
  background: #4455cc;
  border: none;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
}

.form-coleccion button:hover {
  background: #071324;
}