.perfil-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.perfil-header {
  background: #fafafa;
  color: #4455cc;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

/* Boton seguir */
.perfil-header button {
  padding: 10px 20px;
  background-color: #4455cc;
  border: none;
  color: #fafafa;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.perfil-header button:hover {
  background-color: #0d1b2a;
}

.perfil-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stat-box {
  border: 3px solid #4455cc;
  color: #4455cc;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.perfil-publicaciones {
  width: 90%;
}