* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #071324;
  height: 100vh;
  margin: 0;
}

.nav-global {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  width: 98%;
  height: 65px;
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between; /* reparte los li */
  width: 100%;                    /* ocupa todo el ancho del nav */
}

nav li a {
  text-decoration: none;
  color: #4455cc;
  font-weight: 600;
}

.nav-group {
  position: relative;
  display: flex;
  margin-right: 20px;
  padding: 0px 10px 0px 10px;
}

.nav-group svg {
  margin-right: 10px;
  color: #4455cc;
  stroke: currentColor;
  stroke-width: 0.7px;
}

/* Publicar */
.publicar {
  background-color: #4455cc;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
}

.publicar svg {
  color: #fafafa;
}

.publicar a{
  color: #fafafa;
}

.publicar input:hover {
  background-color: #071324;
}

/* Buscador */
.nav-search input {
  background-color: #fafafa;
  border-radius: 8px;
  border: 3px solid #4455cc;
  position: relative;
  padding: 10px;
  padding-left: 40px;
}

.nav-search button {
  position: absolute;
  top: 21%;
  left: 10%;
  background: none;
  border: none;
  cursor: pointer;
}

/* Login */
.login-link {
  display: flex;
  border: 3px solid #4455cc;
  padding: 10px 15px;
  border-radius: 8px;
}

/* GLOBALIZAR */
.login-link svg {
  margin-right: 10px;
  color: #4455cc;
  stroke: currentColor;
  stroke-width: 0.7px;
}

/* Registro */
.sign-link {
  display: flex;
  background-color: #4455cc;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 0px 10px 0px 10px;
}

.sign-link a {
  color: #fafafa;
}

.sign-link svg {
  margin-right: 10px;
  color: #fafafa;
  stroke: currentColor;
  stroke-width: 0.7px;
}